.cell {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.available {
  background-color: #c6f0c2;
  cursor: pointer;
}
.border {
  background-color: rgb(185, 184, 184);
}
.station {
  display: flex;
  align-items: center;
  justify-content: center;
}
.station .circle {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 30px;
  border: 1px solid;
}
.cell .mountain {
  font-size: 40px;
  line-height: 40px;
}
.cell .mine {
  font-size: 30px;
  line-height: 45px;
}
.cell.rotated-90 {
  transform: rotate(90deg);
}
.cell.rotated-180 {
  transform: rotate(180deg);
}
.cell.rotated-270 {
  transform: rotate(270deg);
}
/* .cell.rotated-360 {
  transform: rotate(0deg) scaleX(-1);
}
.cell.rotated-450 {
  transform: rotate(90deg) scaleX(-1);
}
.cell.rotated-540 {
  transform: rotate(180deg) scaleX(-1);
}
.cell.rotated-630 {
  transform: rotate(270deg) scaleX(-1);
} */

.cell.flipped {
  transform: rotate(0deg) scaleX(-1);
}
.cell.flipped.rotated-90 {
  transform: rotate(90deg) scaleX(-1);
}
.cell.flipped.rotated-180 {
  transform: rotate(180deg) scaleX(-1);
}
.cell.flipped.rotated-270 {
  transform: rotate(270deg) scaleX(-1);
}

.track {
  background-position: center;
  background-size: contain;
}
.track-1 {
  background-image: url(/images/die-1.png);
}
.track-2 {
  background-image: url(/images/die-2.png);
}
.track-3 {
  background-image: url(/images/die-3.png);
}
.track-4 {
  background-image: url(/images/die-4.png);
}
.track-5 {
  background-image: url(/images/die-5.png);
}
.track-6 {
  background-image: url(/images/die-6.png);
}
